<h1>{{title}}</h1>

<form method="post">
    Title: <input type="text" name="title"><br><br>
    Description: <input type="text" name="descr"><br><br>
    Importance: <input type="number" name="importance" min="1" max="5"><br><br>
    Done until: <input type="date" name="doneuntil"><br><br>
    <input type="checkbox" name="complete" > Complete<br><br>
    <input type="submit" value="Create Note">
    <input type="button" id="abort" value="Abort">
</form>