body {
    background-color: dimgrey ;
    color: white;

}

.noteItem {
    background: lightblue;
    border: 1pt solid white;
}

.noNoteData {
    background: lightblue;
    border-color: green;
}
