body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

h1 {
  font-family: arial, sans-serif;
  font-size: 15px;
}
form {
  display: grid;
  padding: 2px;
}



input [type=submit]{
  border: 1px;
  border-radius: 5px;
  padding: 10px;
}

div {
  background: lightcoral;
  border-style: solid;
  border-radius: 4px;
  border-color: black;
  margin: 10pt;
  padding: 10pt;
}