body {
    background: black;
}

.noteItem {
    background: lightblue;
    border: 1pt solid white;
    margin: 10pt;
    padding: 10pt;
}

.noNoteData {
    background: lightblue;
    border-color: green;
}